*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #013068;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;

}
.logo{
    font-family: "Borel",cursive;
    margin: 0 ;
    padding: 2rem;
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    font-size: medium;
    margin: 12px;

}
a{
    text-decoration: none;
    color: white;
    padding: 12px;
    margin-top: 24px;
}
a:hover{
    background-color: rgb(105, 115, 165);
    color: rgb(0, 0, 0);
}
.call{
    background-color: hsl(253, 66%, 35%);
    color: white;
    border-radius: 24px;
    padding:8  12px;
}
.call:hover{
    background-color: blanchedalmond;
    color: brown;
}
.hero{
    width: 80%;
    display: flex;
    align-items: center;
    margin:0 auto;
    height: 40vh;
    margin-top: 12px;
}
.desc{
    margin: 12px 0;
    font-weight: 400;
    
}
.herotitle{
    font-size: 1rem; 
    margin-top: 36px;
    font-family: sans-serif;
}

img{
    width: 40vw;
}
